@charset "UTF-8";

ul.temp_gonggao_nei li a {
    white-space: inherit;
}

.w_grid-000 {
    margin-left: auto;
    margin-right: auto;
    min-height: 12rem;
    width: 100%;
}

.w_grid-000>.w_grid {
    width: 100%;
    position: relative;
}

.w_grid-000>div>.p_gridbox {
    width: 100%;
    overflow: hidden;
    position: static;
}

.w_grid-000>div>div>.p_gridCell {
    float: left;
    position: static;
}

.w_grid-000>.w_grid.signal {
    min-height: inherit;
}

.w_grid-000>.w_grid.signal>.p_gridbox {
    min-height: inherit;
}

.w_grid-000>.w_grid.signal>.p_gridbox>.p_gridCell {
    min-height: inherit;
}

.w_grid-000>div>.p_gridbox>.p_gridCell:first-child {
    margin-left: 0;
    clear: left;
}

#w_grid-000>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

@media only screen and (max-width: 768px) {
    .w_grid-000>div>.p_gridbox>.p_gridCell {
        width: 100%;
        margin-left: 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

@media only screen and (min-width: 769px) {
    .w_grid-000>div>.p_gridbox>.p_gridCell:first-child {
        width: 100%;
        margin-left: 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {}

@charset "UTF-8";

.p_OccupyBox {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 8%;
}

.p_OccupyBox .e_pagebox>* {
    display: inline-block;
    cursor: pointer;
    float: none;
    vertical-align: middle;
}

.p_OccupyBox .e_pagebox .pageNum {
    cursor: pointer;
    font-size: 14px;
    width: 50px;
    height: 50px;
    color: #54a134;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
    background: #fff;
}

.p_OccupyBox .e_pagebox .pageNum.active {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .pageNum:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .next {
    color: #999;
    padding: 0;
    color: #333;
    background: #fff;
    width: 100px;
    height: 50px;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
}

.p_OccupyBox .e_pagebox .pre {
    color: #999;
    padding: 0;
    color: #333;
    background: #fff;
    width: 100px;
    height: 50px;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
}

.p_OccupyBox .e_pagebox .next:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .pre:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .next.disAble_next:hover {
    border: 1px solid #ddd;
    color: #ddd;
    cursor: default;
}

.p_OccupyBox .e_pagebox .pre.disAble_prev:hover {
    border: 1px solid #ddd;
    color: #ddd;
    cursor: default;
}

.p_OccupyBox .e_pagebox .next.disAble_next {
    background: none;
    border: 1px solid #eee;
    color: #999;
    cursor: default;
}

.p_OccupyBox .e_pagebox .pre.disAble_prev {
    background: none;
    border: 1px solid #eee;
    color: #999;
    cursor: default;
}

.p_OccupyBox .p_more {
    height: 40px;
}

.p_more .iconfont {
    display: none;
}

.p_OccupyBox .p_more .font {
    height: 40px;
    line-height: 40px;
}

.e_btn:hover {
    box-shadow: unset;
    background: rgba(101, 166, 76, 0.9);
    color: #fff;
}

.p_page .pre .font {
    display: inline;
    font-family: serif;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
}

.p_page .next .font {
    display: inline;
    font-family: serif;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
}

.p_page {
    float: none;
    position: static;
}

@media only screen and (max-width:767px) {
    .p_OccupyBox .e_pagebox .pageNum {
        display: none;
    }

    .p_OccupyBox .e_pagebox .next {
        height: 35px;
        line-height: 35px;
    }

    .p_OccupyBox .e_pagebox .pre {
        height: 35px;
        line-height: 35px;
    }
}

@charset "UTF-8";
@charset "UTF-8";
@import url(/css/c_xibDkContent_row-00001.css);
@import url(/css/c_xibDkExtra_list-01001.css);
@import url(/css/c_xibDkColumnGroup_top-00001.css);
@import url(/css/w_grid-000.css);
@CHARSET "UTF-8";

#c_xibDkContent_row-15447589260986192 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkColumnGroup_top-15439177906335377 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkExtra_list-15447719804213700 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkExtra_list-15447719462281188 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkColumnGroup_top-15458919449223582 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkContent_information-15470874449540149 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkColumn_detail-15487536205139863 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1543908821143>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

/*w_grid-1543908821143*/
/*w_grid-1543908821143*/
/*w_grid-1543908821143*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {}

#w_grid-1543908822424>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

/*w_grid-1543908822424*/
/*w_grid-1543908822424*/
/*w_grid-1543908822424*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {}

#w_grid-1544771732884>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

/*w_grid-1544771732884*/
@media only screen and (max-width: 768px) {}

/*w_grid-1544771732884*/
@media only screen and (min-width: 769px) {}

/*w_grid-1544771732884*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {}

#w_grid-1543908821143 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1543908822424 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1544771732884 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}