@charset "UTF-8";

.c_xibDkBanner_list-00001001 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

.w_grid-000 {
    margin-left: auto;
    margin-right: auto;
    min-height: 12rem;
    width: 100%;
}

.w_grid-000>.w_grid {
    width: 100%;
    position: relative;
}

.w_grid-000>div>.p_gridbox {
    width: 100%;
    overflow: hidden;
    position: static;
}

.w_grid-000>div>div>.p_gridCell {
    float: left;
    position: static;
}

.w_grid-000>.w_grid.signal {
    min-height: inherit;
}

.w_grid-000>.w_grid.signal>.p_gridbox {
    min-height: inherit;
}

.w_grid-000>.w_grid.signal>.p_gridbox>.p_gridCell {
    min-height: inherit;
}

.w_grid-000>div>.p_gridbox>.p_gridCell:first-child {
    margin-left: 0;
    clear: left;
}

#w_grid-000>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

@media only screen and (max-width: 768px) {
    .w_grid-000>div>.p_gridbox>.p_gridCell {
        width: 100%;
        margin-left: 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

@media only screen and (min-width: 769px) {
    .w_grid-000>div>.p_gridbox>.p_gridCell:first-child {
        width: 100%;
        margin-left: 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {}

.section_top .clearfix {
    *zoom: 1;
}

.section_top .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.section_top .fl {
    float: left;
    display: inline;
}

.section_top .fr {
    float: right;
    display: inline;
}

.section_top .w1280 {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1365px) {
    .section_top .w1280 {
        width: 96%;
        padding: 0;
    }
}

.section_top .search_input .title {
    color: #e5a928;
    padding: 3% 0 1%;
}

.section_top .search_input .input-container {
    margin-top: 3%;
   
    padding: 1% 2%;
    border: 1px solid #dddddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.section_top .search_input .input-container input {
    width: 100%;
    border: none;
}
.section_top .result-container .result-detail span{ color: #ff0000;}

.section_top .search_input .input-container span {
    cursor: pointer;
}

.section_top .search_input .input-container img {
    width: 25px;
}

.section_top .search_input .search-info {
    margin-top: 5%;
}

.section_top .search_input .search-info span {
    color: #ff0000;
}

.section_top .result-container {
    margin-top: 2%;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 3%;
}

.section_top .result-container .result-detail {
    padding: 15px 10px;
    color: #000;
    border-bottom: 1px dashed #dddddd;
}

.section_top .result-container .result-detail .content {
    margin-top: 10px;
    line-height: 1.8;
}



.section_top .result-container .result-detail a {
    color: #000;
}

.section_top .result-container .result-detail .time {
    padding: 0.5% 0;
}

.section_top .result-container .result-detail .c-highlight {
    color: #ff0000;
}

.section_top .result-container .result-detail a:hover {
    text-decoration: underline;
}

.section_top .result-detail .detail-title {
    margin-bottom: 1%;
}

.c_xibDkPart_bread-01001004 .brcr {
    border-bottom: 1px solid #dcdcdc;
    line-height: 3.857em;
    background: #f7f7f7;
}

.c_xibDkPart_bread-01001004 .brcr .slash {
    display: inline-block;
    vertical-align: middle;
    color: #999999;
}

.c_xibDkPart_bread-01001004 .brcr a {
    display: inline-block;
    vertical-align: middle;
    color: #999999;
}

.c_xibDkPart_bread-01001004 .brcr a.now {
    color: #e5a928;
    cursor: default;
}

.c_xibDkPart_bread-01001004 .brcr a img {
    display: block;
}

.c_xibDkPart_bread-01001004 .brcr a:hover {
    color: #e5a928;
}

@CHARSET "UTF-8";

* {
    padding: 0;
    margin: 0;
}

.pagebox {
    width: 100%;
}

/*page property_start*/
.pagebox,
#-remove--flag {
    width: 100%;
    margin: 0px auto;
}

/*page property_end*/
/*page property_start*/
body,
#-remove--flag {}

/*page property_end*/
#c_xibDkBanner_list-15460620528314344 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkPart_bread-15460620785371349 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1546061899660>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

/*w_grid-1546061899660*/
/*w_grid-1546061899660*/
/*w_grid-1546061899660*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {}

#w_grid-1546061920062>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

/*w_grid-1546061920062*/
/*w_grid-1546061920062*/
/*w_grid-1546061920062*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {}

#w_grid-1546061925419>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

/*w_grid-1546061925419*/
/*w_grid-1546061925419*/
/*w_grid-1546061925419*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {}

#w_grid-1546061899660 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 2px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1546061920062 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 2px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1546061925419 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.section_top .p_MatteIcon .iconfont:before {
    content: '\e602';
}

.section_top .fnt_16 {
    font-size: 16px;
}

.section_top .fnt_20 {
    font-size: 20px;
}

.section_top .fnt_40 {
    font-size: 40px;
}

@media only screen and (max-width: 1440px) {
    .section_top .fnt_40 {
        font-size: 34px;
    }
}

@media only screen and (max-width: 1366px) {
    .section_top .fnt_16 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1200px) {
    .section_top .fnt_20 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1024px) {
    .section_top .fnt_40 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .section_top .fnt_40 {
        font-size: 24px;
    }
}

.section_top .search_input .title {
    color: #7d2522;
}

.section_top .p_OccupyBox {
    text-align: right;
}

.section_top .p_OccupyBox .e_pagebox .pre {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 0px;
}

.section_top .p_OccupyBox .e_pagebox .pre:hover {
    background: #640000;
}

.section_top .p_OccupyBox .e_pagebox .pre.disAble_prev {
    background: none;
}

.section_top .p_OccupyBox .e_pagebox .next {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 0px;
}

.section_top .p_OccupyBox .e_pagebox .next:hover {
    background: #640000;
}

.section_top .p_OccupyBox .e_pagebox .next.disAble_prev {
    background: none;
}

.section_top .p_OccupyBox .e_pagebox .pageNum {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 0px;
    color: #666;
    margin: 0 3px;
}

.section_top .p_OccupyBox .e_pagebox .pageNum.active {
    background: #640000;
    color: #fff;
}

.section_top .p_OccupyBox .e_pagebox .pageNum:hover {
    background: #640000;
    color: #fff;
}

@media only screen and (max-width:767px) {
    .section_top .p_OccupyBox .e_pagebox .pre {
        margin: 0;
    }

    .section_top .p_OccupyBox .e_pagebox .pageNum {
        display: inline-block;
        margin: 0;
    }

    .section_top .p_OccupyBox .e_pagebox .next {
        margin: 0;
    }
}