@charset "UTF-8";
@charset "UTF-8";

.p_OccupyBox {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 8%;
}

.p_OccupyBox .e_pagebox>* {
    display: inline-block;
    cursor: pointer;
    float: none;
    vertical-align: middle;
}

.p_OccupyBox .e_pagebox .pageNum {
    cursor: pointer;
    font-size: 14px;
    width: 50px;
    height: 50px;
    color: #54a134;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
    background: #fff;
}

.p_OccupyBox .e_pagebox .pageNum.active {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .pageNum:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .next {
    color: #999;
    padding: 0;
    color: #333;
    background: #fff;
    width: 100px;
    height: 50px;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
}

.p_OccupyBox .e_pagebox .pre {
    color: #999;
    padding: 0;
    color: #333;
    background: #fff;
    width: 100px;
    height: 50px;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
}

.p_OccupyBox .e_pagebox .next:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .pre:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .next.disAble_next:hover {
    border: 1px solid #ddd;
    color: #ddd;
    cursor: default;
}

.p_OccupyBox .e_pagebox .pre.disAble_prev:hover {
    border: 1px solid #ddd;
    color: #ddd;
    cursor: default;
}

.p_OccupyBox .e_pagebox .next.disAble_next {
    background: none;
    border: 1px solid #eee;
    color: #999;
    cursor: default;
}

.p_OccupyBox .e_pagebox .pre.disAble_prev {
    background: none;
    border: 1px solid #eee;
    color: #999;
    cursor: default;
}

.p_OccupyBox .p_more {
    height: 40px;
}

.p_more .iconfont {
    display: none;
}

.p_OccupyBox .p_more .font {
    height: 40px;
    line-height: 40px;
}

.e_btn:hover {
    box-shadow: unset;
    background: rgba(101, 166, 76, 0.9);
    color: #fff;
}

.p_page .pre .font {
    display: inline;
    font-family: serif;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
}

.p_page .next .font {
    display: inline;
    font-family: serif;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
}

.p_page {
    float: none;
    position: static;
}

@media only screen and (max-width:767px) {
    .p_OccupyBox .e_pagebox .pageNum {
        display: none;
    }

    .p_OccupyBox .e_pagebox .next {
        height: 35px;
        line-height: 35px;
    }

    .p_OccupyBox .e_pagebox .pre {
        height: 35px;
        line-height: 35px;
    }
}

@charset "UTF-8";

.p_OccupyBox {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 8%;
}

.p_OccupyBox .e_pagebox>* {
    display: inline-block;
    cursor: pointer;
    float: none;
    vertical-align: middle;
}

.p_OccupyBox .e_pagebox .pageNum {
    cursor: pointer;
    font-size: 14px;
    width: 50px;
    height: 50px;
    color: #54a134;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
    background: #fff;
}

.p_OccupyBox .e_pagebox .pageNum.active {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .pageNum:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .next {
    color: #999;
    padding: 0;
    color: #333;
    background: #fff;
    width: 100px;
    height: 50px;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
}

.p_OccupyBox .e_pagebox .pre {
    color: #999;
    padding: 0;
    color: #333;
    background: #fff;
    width: 100px;
    height: 50px;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
}

.p_OccupyBox .e_pagebox .next:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .pre:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .next.disAble_next:hover {
    border: 1px solid #ddd;
    color: #ddd;
    cursor: default;
}

.p_OccupyBox .e_pagebox .pre.disAble_prev:hover {
    border: 1px solid #ddd;
    color: #ddd;
    cursor: default;
}

.p_OccupyBox .e_pagebox .next.disAble_next {
    background: none;
    border: 1px solid #eee;
    color: #999;
    cursor: default;
}

.p_OccupyBox .e_pagebox .pre.disAble_prev {
    background: none;
    border: 1px solid #eee;
    color: #999;
    cursor: default;
}

.p_OccupyBox .p_more {
    height: 40px;
}

.p_more .iconfont {
    display: none;
}

.p_OccupyBox .p_more .font {
    height: 40px;
    line-height: 40px;
}

.e_btn:hover {
    box-shadow: unset;
    background: rgba(101, 166, 76, 0.9);
    color: #fff;
}

.p_page .pre .font {
    display: inline;
    font-family: serif;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
}

.p_page .next .font {
    display: inline;
    font-family: serif;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
}

.p_page {
    float: none;
    position: static;
}

@media only screen and (max-width:767px) {
    .p_OccupyBox .e_pagebox .pageNum {
        display: none;
    }

    .p_OccupyBox .e_pagebox .next {
        height: 35px;
        line-height: 35px;
    }

    .p_OccupyBox .e_pagebox .pre {
        height: 35px;
        line-height: 35px;
    }
}

@charset "UTF-8";

.p_OccupyBox {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 8%;
}

.p_OccupyBox .e_pagebox>* {
    display: inline-block;
    cursor: pointer;
    float: none;
    vertical-align: middle;
}

.p_OccupyBox .e_pagebox .pageNum {
    cursor: pointer;
    font-size: 14px;
    width: 50px;
    height: 50px;
    color: #54a134;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
    background: #fff;
}

.p_OccupyBox .e_pagebox .pageNum.active {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .pageNum:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .next {
    color: #999;
    padding: 0;
    color: #333;
    background: #fff;
    width: 100px;
    height: 50px;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
}

.p_OccupyBox .e_pagebox .pre {
    color: #999;
    padding: 0;
    color: #333;
    background: #fff;
    width: 100px;
    height: 50px;
    border: 1px solid #c2c2c2;
    line-height: 50px;
    text-align: center;
    margin: 0 8px;
}

.p_OccupyBox .e_pagebox .next:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .pre:hover {
    background: #54a134;
    border: 1px solid #54a134;
    color: #fff;
}

.p_OccupyBox .e_pagebox .next.disAble_next:hover {
    border: 1px solid #ddd;
    color: #ddd;
    cursor: default;
}

.p_OccupyBox .e_pagebox .pre.disAble_prev:hover {
    border: 1px solid #ddd;
    color: #ddd;
    cursor: default;
}

.p_OccupyBox .e_pagebox .next.disAble_next {
    background: none;
    border: 1px solid #eee;
    color: #999;
    cursor: default;
}

.p_OccupyBox .e_pagebox .pre.disAble_prev {
    background: none;
    border: 1px solid #eee;
    color: #999;
    cursor: default;
}

.p_OccupyBox .p_more {
    height: 40px;
}

.p_more .iconfont {
    display: none;
}

.p_OccupyBox .p_more .font {
    height: 40px;
    line-height: 40px;
}

.e_btn:hover {
    box-shadow: unset;
    background: rgba(101, 166, 76, 0.9);
    color: #fff;
}

.p_page .pre .font {
    display: inline;
    font-family: serif;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
}

.p_page .next .font {
    display: inline;
    font-family: serif;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
}

.p_page {
    float: none;
    position: static;
}

@media only screen and (max-width:767px) {
    .p_OccupyBox .e_pagebox .pageNum {
        display: none;
    }

    .p_OccupyBox .e_pagebox .next {
        height: 35px;
        line-height: 35px;
    }

    .p_OccupyBox .e_pagebox .pre {
        height: 35px;
        line-height: 35px;
    }
}

.w_grid-001 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
    min-height: 12rem;
    width: 100%;
}

.w_grid-001>.w_grid {
    width: 100%;
    position: relative;
}

.w_grid-001>div>.p_gridbox {
    width: 100%;
    overflow: hidden;
    position: static;
}

.w_grid-001>div>.p_gridbox>.p_gridCell {
    float: left;
    position: static;
}

.w_grid-001>div>.p_gridbox>.p_gridCell:not(:empty):before {
    content: '';
    height: 0.1px;
    display: block;
}

.w_grid-001>div>.p_gridbox>.p_gridCell:first-child {
    margin-left: 0;
    clear: left;
}

#w_grid-001>div>.p_gridbox>.p_gridCell:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
}

@media only screen and (max-width: 768px) {
    .w_grid-001>div>.p_gridbox>.p_gridCell {
        width: 100%;
        margin-left: 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

@media only screen and (min-width: 769px) {
    .w_grid-001>div>.p_gridbox>.p_gridCell {
        width: 49.5%;
        margin-left: 1%;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {}

.w_grid-000 {
    margin-left: auto;
    margin-right: auto;
    min-height: 12rem;
    width: 100%;
}

.w_grid-000>.w_grid {
    width: 100%;
    position: relative;
}

.w_grid-000>div>.p_gridbox {
    width: 100%;
    overflow: hidden;
    position: static;
}

.w_grid-000>div>div>.p_gridCell {
    float: left;
    position: static;
}

.w_grid-000>.w_grid.signal {
    min-height: inherit;
}

.w_grid-000>.w_grid.signal>.p_gridbox {
    min-height: inherit;
}

.w_grid-000>.w_grid.signal>.p_gridbox>.p_gridCell {
    min-height: inherit;
}

.w_grid-000>div>.p_gridbox>.p_gridCell:first-child {
    margin-left: 0;
    clear: left;
}

#w_grid-000>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

@media only screen and (max-width: 768px) {
    .w_grid-000>div>.p_gridbox>.p_gridCell {
        width: 100%;
        margin-left: 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

@media only screen and (min-width: 769px) {
    .w_grid-000>div>.p_gridbox>.p_gridCell:first-child {
        width: 100%;
        margin-left: 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {}

@charset "UTF-8";
@charset "UTF-8";

#c_xibDkExtra_list-15458944227279597 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkExtra_list-15458944177456382 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkContent_row-15459121012430242 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#c_xibDkContent_row-15459121012430242 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkColumnGroup_list-15459122412659833 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#c_xibDkColumnGroup_list-15459122412659833 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkContent_row-15459126099075312 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#c_xibDkContent_row-15459126099075312 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkContent_row-15459133648617532 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#c_xibDkContent_row-15459133648617532 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkColumn_detail-15481611763568835 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#c_xibDkColumn_detail-15481611763568835 .news {
    padding-bottom: 0;
}

#c_xibDkColumn_detail-15481611763568835 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkContent_row-15481615193863102 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#c_xibDkContent_row-15481615193863102 .news {
    padding-top: 0;
}

#c_xibDkContent_row-15481615193863102 .main-container {
    width: 100%;
}

#c_xibDkContent_row-15481615193863102 .news .focus {
    width: 100%;
    float: none;
}

@media only screen and (max-width: 768px) {
    #c_xibDkContent_row-15481615193863102 .news {
        padding-bottom: 0;
    }
}

#c_xibDkContent_row-15481615193863102 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkContent_row-15459120176753739 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#c_xibDkContent_row-15459120176753739 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkColumnGroup_top-15458940380834449 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#c_xibDkColumnGroup_top-15458940380834449 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkContent_row-15458995143905321 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#c_xibDkContent_row-15458995143905321 .banner .bg-cover {
    transition: all 5s ease-in-out 0.5s;
    -webkit-transition: all 5s ease-in-out 0.5s;
}

#c_xibDkContent_row-15458995143905321 .banner .content {
    transition: all 4s linear 0.5s;
    -webkit-transition: all 4s linear 0.5s;
}

#c_xibDkContent_row-15458995143905321 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

/*page property_start*/
.pagebox,
#-remove--flag {
    width: 100%;
    margin: 0px auto;
}

/*page property_end*/
/*page property_start*/
body,
#-remove--flag {}

/*page property_end*/
#c_xibDkContent_row-15459121526162731 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

@media screen and (max-width: 1520px) {
    #c_xibDkContent_row-15459121526162731 .layout .list li {
        margin-left: 33px;
    }
}

@media screen and (max-width: 1360px) {
    #c_xibDkContent_row-15459121526162731 .layout .list li {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1200px) {
    #c_xibDkContent_row-15459121526162731 .layout .list {
        text-align: left;
    }

    #c_xibDkContent_row-15459121526162731 .layout .list li {
        width: auto !important;
        padding-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    #c_xibDkContent_row-15459121526162731 .layout .list {
        bottom: 3%;
    }
}

#c_xibDkContent_row-15459121526162731 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#c_xibDkContent_row-16497462145263985 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1543908821143>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

#w_grid-1543908822424>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

#w_grid-1545899421466>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

#w_grid-1545899425450 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#w_grid-1545899425450>div {
    animation-fill-mode: both;
}

#w_grid-1545899425450 .p_gridbox {
    background-image: url(/img/opinion.jpg);
    background-image-part-image: url(/img/opinion.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}

/*w_grid-1545899425450*/
@media only screen and (min-width: 769px) {
    #w_grid-1545899425450>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 0px;
    }

    #w_grid-1545899425450>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        clear: none;
    }

    #w_grid-1545899425450>div>.p_gridbox>.p_gridCell:nth-child(1n) {
        margin-right: 0px;
    }
}

/*w_grid-1545899425450*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    #w_grid-1545899425450>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 0;
    }

    #w_grid-1545899425450>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        clear: none;
    }

    #w_grid-1545899425450>div>.p_gridbox>.p_gridCell:nth-child(1n) {
        margin-right: 0;
    }
}

#w_grid-1545899432990 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#w_grid-1545899432990>div {
    animation-fill-mode: both;
}

#w_grid-1545899432990 .p_gridbox {
    background-image: url(/img/business.jpg);
    background-image-part-image: url(/img/business.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}

/*w_grid-1545899432990*/
@media only screen and (min-width: 769px) {
    #w_grid-1545899432990>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 0px;
    }

    #w_grid-1545899432990>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        clear: none;
    }

    #w_grid-1545899432990>div>.p_gridbox>.p_gridCell:nth-child(1n) {
        margin-right: 0px;
    }
}

/*w_grid-1545899432990*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    #w_grid-1545899432990>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 0;
    }

    #w_grid-1545899432990>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        clear: none;
    }

    #w_grid-1545899432990>div>.p_gridbox>.p_gridCell:nth-child(1n) {
        margin-right: 0;
    }
}

#w_grid-1545899437021>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

#w_grid-1545899441685 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#w_grid-1545899441685>div {
    animation-fill-mode: both;
}

#w_grid-1545899441685 .p_gridbox {
    background-image: url(/img/ir.jpg);
    background-image-part-image: url(/img/ir.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}

/*w_grid-1545899441685*/
@media only screen and (min-width: 769px) {
    #w_grid-1545899441685>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 0px;
    }

    #w_grid-1545899441685>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        clear: none;
    }

    #w_grid-1545899441685>div>.p_gridbox>.p_gridCell:nth-child(1n) {
        margin-right: 0px;
    }
}

/*w_grid-1545899441685*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    #w_grid-1545899441685>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 0;
    }

    #w_grid-1545899441685>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        clear: none;
    }

    #w_grid-1545899441685>div>.p_gridbox>.p_gridCell:nth-child(1n) {
        margin-right: 0;
    }
}

#w_grid-1543908823818>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

#w_grid-1545899448211 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#w_grid-1545899448211>div {
    animation-fill-mode: both;
}

#w_grid-1545899448211 .p_gridbox {
    background-image: url(/img/news.jpg);
    background-image-part-image: url(/img/news.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}

/*w_grid-1545899448211*/
@media only screen and (min-width: 769px) {
    #w_grid-1545899448211>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 0px;
    }

    #w_grid-1545899448211>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        clear: none;
    }

    #w_grid-1545899448211>div>.p_gridbox>.p_gridCell:nth-child(1n) {
        margin-right: 0px;
    }
}

/*w_grid-1545899448211*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    #w_grid-1545899448211>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 0;
    }

    #w_grid-1545899448211>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        clear: none;
    }

    #w_grid-1545899448211>div>.p_gridbox>.p_gridCell:nth-child(1n) {
        margin-right: 0;
    }
}

#w_grid-1548161330780>div>.p_gridbox {
    background-image: none;
}

#w_grid-1548161330780 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#w_grid-1548161330780>div {
    animation-fill-mode: both;
}

#w_grid-1548161330780>div>.p_gridbox>.p_gridCell:nth-child(2n+1) {
    margin-left: 0px;
    clear: left;
}

/*w_grid-1548161330780*/
@media only screen and (min-width: 769px) {
    #w_grid-1548161330780>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 4%;
    }

    #w_grid-1548161330780>div>.p_gridbox>.p_gridCell:nth-child(2n+0) {
        width: 56.169599999999996%;
        margin-left: 4%;
        margin-right: 0px;
        clear: none;
    }

    #w_grid-1548161330780>div>.p_gridbox>.p_gridCell:nth-child(2n+1) {
        margin-left: 0px;
        clear: left;
        margin-right: 0px;
        width: 39.8304%;
    }

    #w_grid-1548161330780>div>.p_gridbox>.p_gridCell:nth-child(2n) {
        margin-right: 0px;
    }
}

/*w_grid-1548161330780*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    #w_grid-1548161330780>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 4%;
    }

    #w_grid-1548161330780>div>.p_gridbox>.p_gridCell:nth-child(2n+0) {
        width: 56.169599999999996%;
        margin-left: 4%;
        margin-right: 0px;
        clear: none;
    }

    #w_grid-1548161330780>div>.p_gridbox>.p_gridCell:nth-child(2n+1) {
        margin-left: 0px;
        clear: left;
        margin-right: 0px;
        width: 39.8304%;
    }

    #w_grid-1548161330780>div>.p_gridbox>.p_gridCell:nth-child(2n) {
        margin-right: 0px;
    }
}

/*w_grid-1548161330780*/
@media only screen and (max-width: 1600px) {
    #w_grid-1548161330780>div {
        width: 1100px;
        margin: 0 auto;
    }
}

/*w_grid-1548161330780*/
@media only screen and (max-width: 1366px) {
    #w_grid-1548161330780>div {
        width: 1000px;
    }
}

/*w_grid-1548161330780*/
@media only screen and (max-width: 1200px) {
    #w_grid-1548161330780>div {
        width: 94%;
        padding-bottom: 5%;
    }
}

/*w_grid-1548161330780*/
@media only screen and (max-width: 768px) {
    #w_grid-1548161330780>div {
        width: 100%;
        padding-bottom: 0;
    }
}

#w_grid-1649746167662>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

#w_grid-1545899451547>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
    margin-left: 0;
    clear: left;
}

#w_grid-1545912517689 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#w_grid-1545912517689>div {
    animation-fill-mode: both;
}

#w_grid-1545912517689 .p_gridbox {
    background-image: url(/img/award.jpg);
    background-image-part-image: url(/img/award.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}

/*w_grid-1545912517689*/
@media only screen and (min-width: 769px) {
    #w_grid-1545912517689>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 0px;
    }

    #w_grid-1545912517689>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        clear: none;
    }

    #w_grid-1545912517689>div>.p_gridbox>.p_gridCell:nth-child(1n) {
        margin-right: 0px;
    }
}

/*w_grid-1545912517689*/
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    #w_grid-1545912517689>div>.p_gridbox>.p_gridCell {
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 0;
    }

    #w_grid-1545912517689>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        clear: none;
    }

    #w_grid-1545912517689>div>.p_gridbox>.p_gridCell:nth-child(1n) {
        margin-right: 0;
    }
}

#w_grid-1543908821143 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1543908822424 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1545899421466 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1545899425450 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1545899432990 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1545899437021 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1545899441685 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 7px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1543908823818 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 118px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1545899448211 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
}

#w_grid-1548161330780 {
    width: 100%;
    max-width: 1280px;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0%;
}

#w_grid-1649746167662 {
    width: 100%;
    max-width: 1280px;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 60px;
}

#w_grid-1545899451547 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#w_grid-1545912517689 {
    width: 100%;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.ui-footer .p_MatteIcon .iconfont:before {
    content: '\e602';
}

.ui-footer ul.links_index05 {
    width: 110px;
    margin-left: 6%;
}

.ui-footer ul.links_index06 {
    width: 80px;
}

.ui-footer ul.links_index06 dd.about_zhongjin {
    font-size: 16px;
    margin-top: 10px;
}

.ui-footer ul.footer_index_jin dt.guanyu_zhongjin a {
    color: #640000;
}

.ui-footer ul.footer_index_jin dt.guanyu_zhongjin a:hover {
    color: #4c0d0d;
}

.ui-footer ul.four_footer {
    width: auto;
    height: auto;
    text-align: right;
}

.ui-footer ul.four_footer li {
    margin-left: 0%;
    margin-bottom: 10px;
}

.ui-footer ul.four_footer li span.gap_line {
    padding: 0 10px;
}

.ui-footer ul.links_index07 {
    width: 140px;
    margin-left: 16%;
}

.ui-footer p.beian_footer a {
    color: #B1B4B5;
}

@media only screen and (max-width: 1650px) {
    .ui-footer ul.links_index07 {
        margin-left: 8%;
    }
}

@media only screen and (max-width: 1366px) {
    .ui-footer p.beian_footer {
        padding-top: 40px;
    }

    .ui-footer ul.four_footer {
        padding-top: 40px;
        margin-top: 0px;
    }

    .ui-footer ul.links_index07 {
        margin-left: 1%;
    }
}

@media only screen and (max-width: 651px) {
    .ui-footer ul.four_footer {
        width: 100%;
    }
    .ui-footer ul.four_footer li {
        margin-left: 5%;
    }
    .ui-footer p.beian_footer a{ display: inline-block;}
}

.ui-footer {
    max-height: none;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    min-height: 0px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: none;
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 0px;
    height: auto;
    padding-right: 0px;
}

#c_xibDkContentGroup_row-15481621803884568 .p_MatteIcon .iconfont:before {
    content: '\e602';
}

#c_xibDkContentGroup_row-15481621803884568 .news {
    padding-top: 0;
}

#c_xibDkContentGroup_row-15481621803884568 .main-container {
    width: 100%;
}

#c_xibDkContentGroup_row-15481621803884568 .news .list {
    float: none;
    width: 100%;
    background: #fff url(/repository/image/dPGDAqW7QRqrXgA991WBpA.jpg_250x200.jpg) no-repeat right bottom;
}

#c_xibDkContentGroup_row-15481621803884568 .news .content .list li .time {
    width: 100px !important;
}

@media only screen and (max-width: 768px) {
    #c_xibDkContentGroup_row-15481621803884568 .news .content {
        margin-top: 5px;
    }
}

#c_xibDkContentGroup_row-15481621803884568 {
    max-height: none;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    min-height: 0px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: none;
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 0px;
    height: auto;
    padding-right: 0px;
}