@charset "utf-8";

/* reset */

html {
	height: 100%;
}

body {
	min-height: 100%;
	overflow-x: hidden;
}

body {
	_height: 100%
}

body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
pre,
code,
fieldset,
legend,
form,
input,
select,
textarea,
button,
p,
blockquote,
th,
td,
figure {
	margin: 0;
	padding: 0
}

body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
pre,
code,
fieldset,
legend,
form,
p,
blockquote,
figure,
header,
footer,
nav,
article,
section,
aside,
address,
figcaption {
	*zoom: 1
}

li {
	list-style-type: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

iframe,
frame,
fieldset,
img {
	border: 0 none
}

img {
	vertical-align: top;
	border: 0;
}

input[type=button],
input[type=submit],
input[type=reset] {
	cursor: pointer
}

input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
	border: none;
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
	border: none;
}

input,
textarea,
button {
	-webkit-border-radius: 0;
	-webkit-appearance: none
}

input[type=radio] {
	-webkit-border-radius: 100%;
	-webkit-appearance: radio
}

input[type=checkbox] {
	-webkit-appearance: checkbox
}

input[type=search] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
}

textarea {
	overflow: auto;
	resize: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}

caption,
th {
	text-align: left
}

th {
	font-weight: normal
}

em,
cite,
address,
i {
	font-style: normal
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

a:link,
a:visited,
a:active,
a {
	text-decoration: none;
}

a {
	cursor: pointer
}

:focus {
	outline: none
}


/*清除移动端点击高亮*/

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #000;
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	min-width: 320px;
	word-break: break-all;
	background-color: #fff;
	font-size: 14px;
}

body,
p {
	line-height: 1.4;
}