/* .page-box{padding:0 0 90px 0!important;}
.page-box .main-content{width:100%;float: none;}
.ui-sider-menu{width: 100%!important;}
.ui-form .ui-search button{background-image:url(/repository/image/V-ukTYA6TzCCXrFENGGvMw.png)!important;}
.ui-form .ui-search input:focus+button{background-image:url(/repository/image/THW5PczzQhiqMnJWJtb4iw.png)!important;}
ul.temp_gonggao_nei li p a:hover{color: #640000;}
.rich-text.main-rich-text p{text-indent:2em;}
.rich-text.main-rich-text .list *{text-indent:0em;}
.rich-text.main-rich-text table{text-indent:0em;}
.rich-text.main-rich-text .p_img{text-indent:0em;}
.rich-text ul{margin-bottom:2%;}
.rich-text table{margin-bottom:2%;}
.research_title{text-indent:0em!important;}

.fixed-income-service-page .main-rich-text h2{border:0;}

.title .text-ellipsis{    
  white-space: unset!important;
    line-height: 1.5!important;
}

*{word-break: break-word;} */
/* 
.news .list .time{width:100px !important;}
p.beian_footer{word-break: break-word;}
.responsive-tabs__panel{padding-top:20px;background: #faf8f5;} */
@media only screen and (max-width: 1600px){
  .results-season-detail-page .switch-on .side-left{width:640px;}
  .results-season-detail-page .switch-on .side-right{width:300px;}
}
@media only screen and (max-width: 1366px){
  /* .page-box .main-content{width: 100%;} */
  .results-season-detail-page .switch-on .side-left{width:calc(70% - 30px);}
  .results-season-detail-page .switch-on .side-right{width:30%;}
/*   
  .asset-management-page .history .left{width:54%;}
  .asset-management-page .history .right{width:45%;}
  .asset-management-page .blcok-3 .item{padding:0 0 0 95px;}
  .asset-management-page .blcok-3 .list:before{left:75px;}
  .asset-management-page .blcok-3 .text:before{left:-28px;}
  .asset-management-page .blcok-3 .year:after{top:55%;right:-39px;} */
}
@media screen and (max-width: 1200px){
  /* .page-box{padding:0 0 45px 0!important;}
  .news-index-page .box-title a{top: 35px;} */
}
@media screen and (max-width: 768px){
  /* .results-season-detail-page .switch-on .side-left{width:100%;}
  .results-season-detail-page .switch-on .side-right{width:100%;}
  .results-season-detail-page .title-box .title p{line-height:1.5;padding-top:10px;padding-bottom:10px;height:auto;font-size:14px;}
  .page-box{padding:10px 0 20px 0!important;}
  .ui-sider-menu{
    float: none !important;
    width: 100% !important;
    padding: 0 0px 0px 0px;
  }
  .news-index-page .box-title a{top: 15px;}
  .news-index-page .box-title{padding-top: 10px;}
  .news-index-page .award-box .list>div{margin-top: 15px;margin-bottom: 0;}
   */
}
/* @media only screen and (max-width: 651px){
  .page-box h2{font-size: 16px;}
}
@media only screen and (max-width: 640px){
  .page-box .main-content{margin-top:0px;}
  h2.main-title{padding-top:0;}
} */